@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nossas Lojas";
}

<div class="container fluid">
    <div class="row">
        <div class="d-flex flex-column bg-white col-4">
            <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom bg-mygris">
                <span class="material-icons">location_on</span>
                <span class="fs-5 fw-semibold"> Nossas Lojas:</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">

                <div data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.76077608447!2d-46.53461372438072!3d-23.64873677873987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4294ff676307%3A0xd9bb1a8238ff865a!2sGrand%20Plaza%20Shopping!5e0!3m2!1spt-BR!2sbr!4v1683674385914!5m2!1spt-BR!2sbr" class="list-group-item list-group-item-action py-3 lh-sm">
                    <strong class="d-flex w-100 mb-1">Grand Plaza Shopping</strong>
                    <p class="col-10 mb-1 small">Avenida Industrial, 600</p>
                    <p class="col-10 mb-1 small">Santo André - SP</p>
                </div>

                <div data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.227230612234!2d-46.53596922438014!3d-23.667830578726804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4260e2d5dea7%3A0x2b2d31c24b9dc181!2sShopping%20ABC!5e0!3m2!1spt-BR!2sbr!4v1683674790104!5m2!1spt-BR!2sbr" class="list-group-item list-group-item-action py-3 lh-sm">
                    <strong class="d-flex w-100 mb-1">Shopping ABC</strong>
                    <p class="col-10 mb-1 small">Avenida Pereira Barreto, 42 </p>
                    <p class="col-10 mb-1 small">Santo André - SP</p>
                </div>

                <div data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1937711546047!2d-46.56324092438291!3d-23.56148317879978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e820dde705d%3A0x5d9ada76950fa481!2sShopping%20An%C3%A1lia%20Franco!5e0!3m2!1spt-BR!2sbr!4v1683674827235!5m2!1spt-BR!2sbr" class="list-group-item list-group-item-action py-3 lh-sm">
                    <strong class="d-flex w-100 mb-1">Shopping Anália Franco</strong>
                    <p class="col-10 mb-1 small">Avenida Regente Feijó, 1739</p>
                    <p class="col-10 mb-1 small">São Paulo - SP</p>
                </div>

                <div data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0682352417016!2d-46.5065498243829!3d-23.5659926787966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce676edd286c5f%3A0x4b56801d4922f046!2sShopping%20Aricanduva!5e0!3m2!1spt-BR!2sbr!4v1683674861358!5m2!1spt-BR!2sbr" class="list-group-item list-group-item-action py-3 lh-sm">
                    <strong class="d-flex w-100 mb-1">Shopping Aricanduva</strong>
                    <p class="col-10 mb-1 small">Avenida Aricanduva, 5555</p>
                    <p class="col-10 mb-1 small">São Paulo - SP</p>
                </div>

                <div data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8205769209894!2d-46.579077524383734!3d-23.538954878815208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5ec2e1a484a3%3A0x1a8cdaf57a43d11!2sShopping%20Metr%C3%B4%20Boulevard%20Tatuap%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1683674941674!5m2!1spt-BR!2sbr" class="list-group-item list-group-item-action py-3 lh-sm">
                    <strong class="d-flex w-100 mb-1">Shopping Metrô Boulevard Tatuapé</strong>
                    <p class="col-10 mb-1 small">Rua Gonçalves Crespo, 78</p>
                    <p class="col-10 mb-1 small">São Paulo - SP</p>
                </div>

                <div data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.7758784645357!2d-46.473218124383685!3d-23.540562078814148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e622db57c4f%3A0x3de99bb691d3dc68!2sShopping%20Metr%C3%B4%20Itaquera!5e0!3m2!1spt-BR!2sbr!4v1683674898367!5m2!1spt-BR!2sbr" class="list-group-item list-group-item-action py-3 lh-sm">
                    <strong class="d-flex w-100 mb-1">Shopping Metrô Itaquera</strong>
                    <p class="col-10 mb-1 small">Avenida José Pinheiro Borges</p>
                    <p class="col-10 mb-1 small">São Paulo - SP</p>
                </div>

                <div data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.201195314706!2d-46.549441224384054!3d-23.525264978824627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e511b5109d5%3A0x8a893c5bb85f67d!2sShopping%20Penha!5e0!3m2!1spt-BR!2sbr!4v1683674969802!5m2!1spt-BR!2sbr" class="list-group-item list-group-item-action py-3 lh-sm">
                    <strong class="d-flex w-100 mb-1">Shopping Penha</strong>
                    <p class="col-10 mb-1 small">Rua Dr. João Ribeiro, 304</p>
                    <p class="col-10 mb-1 small">São Paulo - SP</p>
                </div>

            </div>
        </div>

        <div class="d-flex flex-column bg-white col-8 pt-5 mt-5">
            @*<img class="rounded-2 shadow h-75 my-auto" src="~/img/xiccoffee-wall-lg.jpeg" alt="Segundo Slide">*@
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.76077608447!2d-46.53461372438072!3d-23.64873677873987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4294ff676307%3A0xd9bb1a8238ff865a!2sGrand%20Plaza%20Shopping!5e0!3m2!1spt-BR!2sbr!4v1683674385914!5m2!1spt-BR!2sbr" class="rounded-2 shadow h-75 my-auto" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>            
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    jQuery(document).ready(function () {
        jQuery(".list-group-item").click(function () {
            var shopSrc = jQuery(this).data("src");
            jQuery("iframe").attr("src", shopSrc);
        });
    });
</script>